#navbar-container {
    margin: 0 auto;
    width: 100%;
    height: 75px;
}

#navbar-cont-right {
    width: 50%;
    float: right;
}

#navbar-cont-left {
    width: 50%;
}

#navbar-login {
    input[type="text"],
    [type="button"] {
        float: left;
        width: 25%;
    }
}