@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
@import 'mixins.scss';
@import 'vars.scss';

*{
    box-sizing: border-box;
}

body{
    @include fontStack($family: 'Open Sans', $size: 14px, $weight: 600);
    background-color: $bodyBgColor;
    color: $lightColor;
}

.container{
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
    //border: 1px white solid;
}

h1{
    @include fontStack($family: 'Helvetica', $size: 24px);
}

/*form p{
    color: $inputTextColor;
}*/

form div{
    color: $inputTextColor;
}

label{
    display: block;
    margin-bottom: 5px;
}

input:not([type=radio]):not([type=button]){
    color: #000;
    font: inherit;
    width: 100%;
    padding: 5px;
    border: 1px #ccc solid;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 5px;
}

input[type=button]{
    width: 100%;
    padding: 8px;
    background-color: antiquewhite;
    color: $inputTextColor;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}

input[type=button]:hover {
  background-color: invert(cornflowerblue) 
}

.validator{
    color: red;
}
