@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
@import 'mixins.scss';
@import 'vars.scss';

*{
    box-sizing: border-box;
}

body{
    @include fontStack($family: 'Open Sans', $size: 14px, $weight: 600);
    background: $bodyBgImage no-repeat;
    background-size: cover;
    color: $lightColor;
}

.container{
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    
    background-color: $boxTransparent;
    padding: 20px;
    border-radius: 5px;
}

.radioButtons{
    padding: 7px;
}

.inputLabels{
    padding: 5px;
}

h1{
    @include fontStack($family: 'Helvetica', $size: 24px);
}

/*form p{
    color: $inputTextColor;
}*/

form div{
    color: $inputTextColor;
}

label{
    display: block;
    margin-bottom: 5px;
}

input:not([type=radio]):not([type=submit]){
    color: #000;
    font: inherit;
    width: 100%;
    padding: 5px;
    border: 1px #ccc solid;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 5px;
}

input[type=submit]{
    width: 100%;
    padding: 8px;
    font: inherit;
    background-color: $buttonColor;
    color: $inputTextColor;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}

input[type=submit]:hover {
  background-color: invert($buttonColor); 
}

.requiredValidator{
    color: $alertColor;
    background: $alertBackground;
    border-radius: 5px;
    border: 1px solid $alertBorder;
    padding: 5px;
}

.wrongFormatValidator{
    color: $wrongFormatColor;
    background: $wrongFormatBackground;
    border-radius: 5px;
    border: 1px solid $wrongFormatBorder;
    padding: 5px;
}