$bodyBgColor: cornflowerblue;
$lightColor: whitesmoke;
$inputTextColor: #222;
$alertColor: #983F3C;
$alertBackground: #EEDADA;
$alertBorder: #E5C6CC;
$wrongFormatColor: #7C6534;
$wrongFormatBackground: #FAF8DF;
$wrongFormatBorder: #F6EAC5;   