<div class="container">
    <h1>Welcome to AwesomeFly!</h1>
<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)" >
    <div>
        <label> destination:</label>
        <input type="text" formControlName="destination" 
        required placeholder="Destination">
    </div>
    <div *ngIf="searchForm.controls.destination.hasError('destinationErrorWithNumbers')">
        Type no numbers
    </div>
    <div *ngIf="!searchForm.controls['destination'].valid && 
    searchForm.controls['destination'].touched">
        Type something
    </div>
    <div *ngIf="searchForm.controls.destination.hasError('minlength')">
        Type minimun 3 characters
    </div>
    <div>
        <label> departure</label>
        <input type="text" formControlName="departure" 
        required placeholder="Departure">
    </div>
    <div *ngIf="searchForm.controls.departure.hasError('departureErrorWithNumbers')">
        Type no numbers
    </div>
    <div *ngIf="!searchForm.controls['departure'].valid && 
    searchForm.controls['departure'].touched &&
    !searchForm.controls['departure'].dirty">
        Type something
    </div>
    <div *ngIf="searchForm.controls.departure.hasError('minlength')">
        Type minimun 3 characters
    </div>
    <div>
        <label> Date of departure</label>
        <input type="date" formControlName="dateOfDepature">
        
        <div *ngIf="!searchForm.controls['dateOfDepature'].valid && searchForm.controls['dateOfDepature'].touched">
        Type minimun something
        </div>
        
    </div>
    <!-- Return Calendar-->
    <!-- 
    <p>
        <label> Date of return</label>
        <input type="date" formControlName="dateOfReturn">
    </p>
    -->
    <div>
        <label>Time</label>
        <input type="time" formControlName="time" value="">
        <div *ngIf="!searchForm.controls['time'].valid && searchForm.controls['time'].touched">
        Type minimun something
        </div>
        <!--<input type="number" name="" value="">-->
    </div>
    <div>
        <input type="radio" formControlName="oneWayOrReturn" 
        value="One Way" required> One Way
        <!-- <br/> -->
        <input type="radio" formControlName="oneWayOrReturn" 
        value="Return" required> Return
    </div>

    <!-- TODO: Mangler 'number of passengers -->

    <input type="submit" value="Search">
</form>
</div>

<!--
<body>
    <div class="container">
        
        <form>
            <p>
                <label>Enter Destination:</label>
                <input type="text" name="destination" required placeholder="Destination">
            </p>

            <p>
                <label>Enter Departure:</label>
                <input type="text" name="departure" required placeholder="Departure">
            </p>

            <p>
                <label>Select Date of Departure:</label>
                <input type="date" name="date">
            </p>

            <p>
                <label>Time:</label>
                <input type="time" name="" value="">
            </p>

            <p>
                <input type="radio" name="test1" value="One Way">
                One Way
                <!--<br/>-->
                <!--
                <input type="radio" name="test1" value="Return">
                Return
            </p>

            <input type="button" name="submit" value="Search Flight!">
        </form>
    </div>
</body>
-->
